{% extends 'base.html.twig' %}

{% block title %}Edit Recipe{% endblock %}

{% block body %}
    <a href="{{ path('recipe_index') }}">back to list</a><br>

    <h1>Edit Recipe</h1>

    {{ include('recipe/_form.html.twig', {'button_label': 'Update'}) }}

    <br><br><br>

    {{ include('recipe/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function addNewIngredient(event) {
            const $list = $('#ingredients');
            const nextId = $list.data('count') + 1;

            const prototype = $list.data('prototype');
            const newInputMarkup = prototype.replace(/__name__/g, nextId);
            const $newInputRow = $('<li></li>').append(newInputMarkup);

            $list.append($newInputRow);
            var $select = $newInputRow.find('select');
            console.log($select);
            $select.select2entity();

            $list.data('count', nextId);
        }

        $(function () {
            $('.recipe-form__add-ingredient-button').on('click', addNewIngredient);
        });
    </script>
{% endblock %}