{% extends 'base.html.twig' %}

{% block title %}Edit Recipe{% endblock %}

{% block body %}
    <a href="{{ path('recipe_index') }}">back to list</a><br>

    <h1>Edit Recipe</h1>

    {{ include('recipe/_form.html.twig', {'button_label': 'Update'}) }}

    <br><br><br>

    {{ include('recipe/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $ingredients = $('ul#ingredients');

        function addAddButtonToForm() {
            $addButton = $(' <button type="button"></button>')
                    .addClass('recipe-form__add-ingredient-button')
                    .text('Add Ingredient')
                    .on('click', addNewIngredient);
            $ingredients.after($addButton);
        }

        function addDeleteButton($li) {
            $button = $('<button type="button"></button>')
                    .addClass('recipe-form__delete-ingredient-button')
                    .text('Delete Ingredient');
            $li.append($button);
        }

        function addNewIngredient(event) {
            const $list = $('#ingredients');
            const nextId = $list.data('count') + 1;

            const prototype = $list.data('prototype');
            const newInputMarkup = prototype.replace(/__name__/g, nextId);
            const $newInputRow = $('<li></li>').append(newInputMarkup);

            addDeleteButton($newInputRow);

            $list.append($newInputRow);
            var $select = $newInputRow.find('select');
            console.log($select);
            $select.select2entity();

            $list.data('count', nextId);
        }

        function deleteIngredient(event) {
            const el = $(this);

            console.log('delete ingredient', el);
        }

        $(function () {
            addAddButtonToForm();

            $ingredients.find('li').each(function (i) {
                addDeleteButton($(this));
            });
            $ingredients.on('click', 'button.recipe-form__delete-ingredient-button', deleteIngredient);
        });
    </script>
{% endblock %}